/_VG/ @Albuka1, @Garik234, @Aworkiq
/Content._VG/ @Albuka1, @Garik234, @Aworkiq
/Resources/Prototypes/_VG/ @Albuka1, @Garik234, @Aworkiq
/Resources/Textures/_VG/ @Albuka1, @Garik234, @Aworkiq
**_VG/**/*.cs @Albuka1, @Garik234, @Aworkiq